$primary-font-family: "Roboto",  sans-serif;

$color-green: #0cb175;
$color-purple: #382c75;
$color-black: #000000;
$color-gray: #8a8f99;
$color-white: #ffffff;
$color-blue: #18316b;
$color-red: #f2744d;
$color-orange: #faa61a;
$color-bg-card-off: #e7e7e8;
$color-bg-hint: #e5efec;
$color-light-gray: #f1f2f2;
$color-input-border: #d1d2d4;
$color-azure: #00AEFF;

$post-border-bottom: #e1e2e6;
